<!-- First Container -->
<div class="container-fluid">
    <div class="text-center">
      <input id="nombre" name = 'nombre' type="text" [(ngModel)]="oCarta.nombre" required> <!-- ngModel guarda en el component.ts esta variable (nombre) --> 
      <input id='coste' name = 'coste' type="number" [(ngModel)]="oCarta.coste" required>
      <button class="btn-primary" type ="button" (click)='btnInsertCard()'> añadir </button>
    </div>
  
    <h3 class="margin col-sm-12">Cartas del juego: </h3>
  
      <div *ngFor="let cartas of aCartas; let i = index" (click)='fcnInsertCardToDeck(this.cartas, i)' class="col-lg-3 col-lg-offset-1">
        <img src='{{cartas.img}}' class="img-rounded" width="80" height="80"/> {{cartas.nombre}} coste {{cartas.coste}}
      </div>

    <h3 class="margin col-sm-12">Mazo seleccionado: </h3>

     <div *ngFor="let cartasMazo of oMazo.cartas; let i = index" (click)= 'fcnDeleteCardToDeck(this.cartasMazo, i)' class="col-lg-3">
      <img src='{{cartasMazo.img}}'  width="80" height="80">{{cartasMazo.nombre}} coste {{cartasMazo.coste}}
    </div>

  </div>