.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 1000;
}
.affix-top {
    position: static;
    top: -35px;
}
.affix + .container-fluid {
    padding-top: 70px;
}