p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: blue;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
img{
    width: 3em;
}